body {
  margin: 0px auto;
  background-color: #1f2937;
  color: white;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  max-width: 800px;
}

h1 {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 45px;
  text-shadow: 0px 0px 4px #273549;
}

h2 {
  color: #d5d4d8;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0px 0px 4px #273549;
}

button {
  background-color: #10b981;
  color: ffffff;
  border-style: none;
  border-radius: 6px;
  text-shadow: 0px 0px 4px #273549;
  box-shadow: 0px 0px 2px #b1b0b0;
  cursor: pointer;
}

.switch-checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #b1b0b0;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background 0.3s;
}
.switch-checkbox:checked {
  background-color: #10b981;
}
.switch-checkbox:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.switch-checkbox:checked:after {
  left: 22px;
}

#hamburger {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  width: 60px;
}

#hamburger:hover + #menu-section {
  display: block;
}

#menu-section {
  display: none;
  position: absolute;
  top: 40px;
  right: 45px;
  background-color: #273549;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px #1f2937;
  font-size: 14px;
  border-bottom: solid 2px #4adf86;
}

#menu-section:hover {
  display: block;
}

#menu-title {
  font-size: 24px;
  color: #4adf86;
  margin-bottom: 5px;
  margin-bottom: 20px;
}

#length-section,
#include-symbols-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 10px;
}

#length-widget {
  display: flex;
  align-items: center;
}

#password-length {
  width: 50px;
  height: 30px;
  background-color: #1f2937;
  border-radius: 6px;
  font-size: 16px;
  border-radius: 6px 0px 0px 6px;
  text-align: center;
  color: white;
  outline: none;
  border: none;
}

#length-buttons {
  display: flex;
  flex-direction: column;
}

#length_plus {
  width: 20px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  border-radius: 0px 6px 0px 0px;
}

#length_minus {
  width: 20px;
  height: 15px;
  line-height: 15px;
  font-size: 14px;
  border-radius: 0px 0px 6px 0px;
}

#hero-section {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: solid 2px #273549;
}

#accent-title {
  color: #4adf86;
}

#generate-btn {
  padding: 15px 20px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
}

#password {
  margin-bottom: 15px;
  background-color: #273549;
  width: 100%;
  min-height: 45px;
  line-height: 45px;
  word-break: break-all;
  border: solid 2px #273549;
  border-radius: 6px;
  text-align: center;
  color: #4adf86;
  font-size: 18px;
  text-shadow: 0px 0px 4px #1f2937;
  cursor: pointer;
}

#password:hover {
  border-bottom-color: #10b981;
}

#notification {
  color: #1f2937;
  background-color: #d5d4d8;
  border-left: solid 5px #10b981;
  border-radius: 0px 0px 6px 6px;
  padding: 15px;
  font-size: 18px;
  box-shadow: 2px 2px 6px #696868;
  position: absolute;
  top: 0%;
  left: 15%;
  right: 15%;
  margin-inline: auto;
  display: none;
  animation: notification-in 1s ease;
}

/* Remove default arrow buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@keyframes notification-in {
  0% {
    top: -10%;
    padding: 0px;
  }
  90% {
    top: 1%;
  }
  100% {
    top: 0%;
    padding: 15px;
  }
}

@keyframes notification-out {
  0% {
    top: 0%;
  }
  100% {
    top: -10%;
  }
}

@media only screen and (max-width: 840px) {
  body {
    margin: 0px 20px;
  }
}

@media only screen and (max-width: 500px) {
  #notification {
    left: 5%;
    right: 5%;
  }

  #hamburger {
    width: 50px;
  }
}
